In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/junyuwu/China Starbucks /components/starbucks.csv")

In [3]:
df.head()

,city,address,postalCode,latitude,longitude,features,hasArtwork,storeName,storeNumber,closeTime,openTime
0,兰州市,兰州新区出发安检内CF-37商铺中川机场T2航站楼,730000.0,36.504707,103.618088,['OG'],False,兰州中川机场店,52438-281554,21:30:00,06:00:00
1,兰州市,兰州市城关区雁滩路3113号,730000.0,36.061108,103.870931,"['OG', 'DL', 'PO']",False,兰州市欣大百货店,56295-290190,23:00:00,07:30:00
2,兰州市,城关区万达广场1层天水北路68号,730000.0,36.063614,103.862203,"['OG', 'DL', 'MIC', 'PO']",False,兰州城关万达店,24777-238531,23:00:00,07:30:00
3,兰州市,城关区北京华联一层南昌路892号,730000.0,36.055590,103.845779,"['OG', 'DL']",False,兰州平凉路BHG店,52779-282484,23:00:00,07:30:00
4,兰州市,城关区国芳百货1F东方红广场,730000.0,36.051879,103.844903,"['OG', 'DL', 'MIC']",False,兰州东方红国芳百货店,25923-241626,23:00:00,07:30:00

In [4]:
df.isna().sum()

city            0
address         0
postalCode     57
latitude        0
longitude       0
features        0
hasArtwork      0
storeName       0
storeNumber     0
closeTime      35
openTime       35
dtype: int64

In [5]:
df["hasArtwork"].value_counts()

False    4148
True       18
Name: hasArtwork, dtype: int64

In [6]:
df["closeTime"].fillna("23:00:00", inplace=True)
df["openTime"].fillna("07:30:00", inplace=True)

In [7]:
df['hasArtwork'] = df['hasArtwork'].apply(lambda x:0 if x==False else 1)

In [17]:
df[df["hasArtwork"]!=0]

,city,address,postalCode,latitude,longitude,features,hasArtwork,storeName,storeNumber,closeTime,openTime
610,上海市,黄浦区企业天地二期湖滨路150号L1-E05、L2-E06单元,200000.0,31.220508,121.478727,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,湖滨道店,23040-227187,22:00:00,07:00:00
627,上海市,上海市黄浦区None思南路50号,200000.0,31.215081,121.467564,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,思南公馆店,28820-251207,22:00:00,07:00:00
705,苏州市,江苏省苏州市一层B-#01-32单元和二层B-#02-30单元工业园区星港街西苏州中心广场3幢,215000.0,31.316754,120.677816,"['OG', 'BE', 'MIC', 'NCB', 'RC', 'SBB']",1,苏州中心1F店,51121-263610,22:30:00,08:00:00
1057,上海市,上海市浦东新区申迪西路255弄602单元国际旅游度假区,200000.0,31.139114,121.662002,"['OG', 'MIC', 'NCB']",1,迪士尼小镇店,26417-215044,22:00:00,07:00:00
1142,成都市,锦江区区F133b纱帽街8号,610000.0,30.652827,104.082431,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,成都太古里店,22079-206446,23:30:00,07:30:00
1398,广州市,番禺区锦绣香江花园会所101号铺南村镇迎宾路段,510000.0,22.997877,113.340004,"['OG', 'DL', 'MIC', 'NCB', 'PO', 'SBB']",1,广州锦绣香江店,50737-266225,22:30:00,07:30:00
1492,广州市,广州市越秀区中山3路2号,510000.0,23.126790,113.286662,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,广州中山3路2号店,47397-256946,22:00:00,07:00:00
1609,深圳市,南山区NL168、NL268号商铺华润万象天地,518000.0,22.542109,113.955029,"['OG', 'BE', 'MIC', 'NCB', 'RC', 'SBB']",1,深圳万象天地店,50917-275187,23:00:00,08:00:00
1915,武汉市,江岸区A4商业区1号楼1门中山大道1618号,430000.0,30.608159,114.310770,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,武汉新天地店,29848-254725,23:00:00,07:00:00
2206,北京市,西城区None大栅栏街道弓字胡同10号,100000.0,39.897810,116.394128,"['OG', 'DL', 'MIC', 'PO', 'SBB']",1,北京大栅栏店,27050-245004,22:00:00,08:00:00
2249,北京市,朝阳区国际贸易中心商城地下一层SB126+SB127号铺位建国门外大街1号,100000.0,39.909514,116.457911,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,北京国贸四店,47747-258504,21:30:00,07:00:00
2262,北京市,朝阳区北京嘉里中心商场一层111号，2层204号建国门外大街 光华路1号,100026.0,39.913732,116.459819,"['OG', 'NCB', 'RC', 'SBB']",1,北京嘉里中心第二咖啡店,19196-184984,23:00:00,07:00:00
2301,北京市,朝阳区None三里屯路11号院地下一层NLG-32a单元,100000.0,39.938598,116.454213,"['OG', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,北京三里屯北区店,15047-157223,22:00:00,07:30:00
2406,北京市,北京39号楼朝阳区酒仙桥2号院内11所,100000.0,39.986162,116.491859,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,北京酒仙桥路第二咖啡店,49962-271928,20:00:00,08:00:00
2500,北京市,朝阳区航站楼4层公共区北京首都国际机场T3,100000.0,40.055433,116.616447,"['OG', 'NCB']",1,北京首都机场11店,47230-253785,00:00:00,00:00:00
3390,杭州市,浙江省杭州市国大城市广场1F10、2F07号商铺下城区延安路609号,310000.0,30.269359,120.162845,"['OG', 'BE', 'DL', 'MIC', 'NCB', 'RC', 'SBB']",1,杭州国大1F2F店,29188-252787,23:00:00,07:00:00
3400,杭州市,西湖区蒋经国故居副楼北山街9号,310000.0,30.259499,120.152174,"['OG', 'DL', 'MIC']",1,杭州断桥店,25496-241184,23:00:00,07:00:00
3401,杭州市,杭州市下城区None延安路385号嘉里中心购物中心4层L419b号单元,310000.0,30.260652,120.162790,"['OG', 'MIC']",1,杭州嘉里中心4F店,48517-263684,22:00:00,10:00:00

In [9]:
df.isna().sum()

city            0
address         0
postalCode     57
latitude        0
longitude       0
features        0
hasArtwork      0
storeName       0
storeNumber     0
closeTime       0
openTime        0
dtype: int64

In [10]:
df["city"].value_counts()[:10]

上海市    736
北京市    342
杭州市    245
苏州市    200
广州市    188
深圳市    185
成都市    145
南京市    120
武汉市    114
宁波市    113
Name: city, dtype: int64

In [18]:
    bycity = df["city"].value_counts()[:10].to_frame()
    bycity = bycity.rename(columns={"city": "门店数量"})
    bycity.index.name = "城市"
bycity

     门店数量
城市
上海市   736
北京市   342
杭州市   245
苏州市   200
广州市   188
深圳市   185
成都市   145
南京市   120
武汉市   114
宁波市   113

In [11]:
df["postalCode"].value_counts()

200000.0    670
100000.0    314
310000.0    249
215000.0    200
510000.0    176
           ...
100062.0      1
100006.0      1
100032.0      1
100052.0      1
635000.0      1
Name: postalCode, Length: 294, dtype: int64

In [12]:
df["hasArtwork"].value_counts()

0    4148
1      18
Name: hasArtwork, dtype: int64

In [13]:
df["features"].value_counts()[:10]

['OG', 'DL']                        982
['OG', 'DL', 'MIC']                 761
['OG', 'DL', 'PO']                  565
['OG', 'DL', 'MIC', 'PO']           477
['OG']                              284
['OG', 'DL', 'MIC', 'NCB', 'PO']    179
['OG', 'MIC']                       159
['OG', 'MIC', 'PO']                 101
['OG', 'PO']                         93
['OG', 'DL', 'MIC', 'NCB']           75
Name: features, dtype: int64

In [34]:
byopen = df.groupby("openTime")["city"].value_counts().to_frame()

In [39]:
byopen

               city
openTime city
00:00:00 上海市     10
         北京市      9
         成都市      1
         深圳市      1
05:00:00 上海市      2
...             ...
10:30:00 上海市      2
         北京市      1
         广州市      1
         昆明市      1
         长沙市      1

[570 rows x 1 columns]

In [15]:
df["closeTime"].value_counts()[:10]

22:00:00    1938
22:30:00     653
21:00:00     370
21:30:00     353
23:00:00     353
20:00:00     177
19:00:00      88
20:30:00      48
23:30:00      48
19:30:00      45
Name: closeTime, dtype: int64

In [40]:
byclose = df.groupby("closeTime")["city"].value_counts().to_frame()
byclose

                city
closeTime city
00:00:00  上海市     12
          北京市     10
          南宁市      1
          合肥市      1
          广州市      1
...              ...
23:30:00  梅州市      1
          江门市      1
          泉州市      1
          福州市      1
          阳江市      1

[547 rows x 1 columns]

In [41]:
    byopen = df.groupby("openTime")["city"].value_counts().to_frame()
    listopen =sorted(list(set(byopen.index.get_level_values('openTime').tolist())))
listopen

['00:00:00',
 '05:00:00',
 '05:30:00',
 '05:45:00',
 '06:00:00',
 '06:15:00',
 '06:30:00',
 '07:00:00',
 '07:15:00',
 '07:30:00',
 '07:45:00',
 '08:00:00',
 '08:15:00',
 '08:30:00',
 '08:45:00',
 '09:00:00',
 '09:30:00',
 '09:45:00',
 '10:00:00',
 '10:30:00']